<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.expressions.propertyTesters">
	 <propertyTester
	    id="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.propertyTester.conceptEnabledTester"
	    type="org.eclipse.emf.ecore.EObject"
	    namespace="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.propertyTester"
	    properties="conceptEnabled"
	    class="de.dlr.sc.virsat.model.ext.tml.behavioral.propertyTester.ConceptEnabledTester">
	  </propertyTester>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptImageContribution">
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.ext.tml.behavioral"
		pathToImage="resources/icons/de.dlr.sc.virsat.model.ext.tml.behavioral.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.ext.tml.behavioral.BehavioralParameterDefinition"
		pathToImage="resources/icons/BehavioralParameterDefinition.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.ext.tml.behavioral.ChannelBehaviorDefinition"
		pathToImage="resources/icons/ChannelBehaviorDefinition.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.ext.tml.behavioral.BehaviorDefintionStorage"
		pathToImage="resources/icons/BehaviorDefintionStorage.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.ext.tml.behavioral.BehaviorDefinition"
		pathToImage="resources/icons/BehaviorDefinition.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.ext.tml.behavioral.TimeEventBehaviorDefinition"
		pathToImage="resources/icons/TimeEventBehaviorDefinition.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.ext.tml.behavioral.TaskBehavior"
		pathToImage="resources/icons/TaskBehavior.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.ext.tml.behavioral.BehaviorParameter"
		pathToImage="resources/icons/BehaviorParameter.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.ext.tml.behavioral.ChannelBehavior"
		pathToImage="resources/icons/ChannelBehavior.gif">
	</conceptImage>
	</extension>
	<extension point="org.eclipse.ui.commands">
	<command
		id="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddBehavioralParameterDefinition"
		name="Add BehavioralParameterDefinition">
	</command>
	<command
		id="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddChannelBehaviorDefinition"
		name="Add ChannelBehaviorDefinition">
	</command>
	<command
		id="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddBehaviorDefintionStorage"
		name="Add BehaviorDefintionStorage">
	</command>
	<command
		id="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddBehaviorDefinition"
		name="Add BehaviorDefinition">
	</command>
	<command
		id="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddTimeEventBehaviorDefinition"
		name="Add TimeEventBehaviorDefinition">
	</command>
	<command
		id="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddTaskBehavior"
		name="Add TaskBehavior">
	</command>
	<command
		id="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddBehaviorParameter"
		name="Add BehaviorParameter">
	</command>
	<command
		id="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddChannelBehavior"
		name="Add ChannelBehavior">
	</command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
	<image
	      commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddBehavioralParameterDefinition"
	      disabledIcon="resources/icons/BehavioralParameterDefinition_disabled.gif"
	      icon="resources/icons/BehavioralParameterDefinition.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddChannelBehaviorDefinition"
	      disabledIcon="resources/icons/ChannelBehaviorDefinition_disabled.gif"
	      icon="resources/icons/ChannelBehaviorDefinition.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddBehaviorDefintionStorage"
	      disabledIcon="resources/icons/BehaviorDefintionStorage_disabled.gif"
	      icon="resources/icons/BehaviorDefintionStorage.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddBehaviorDefinition"
	      disabledIcon="resources/icons/BehaviorDefinition_disabled.gif"
	      icon="resources/icons/BehaviorDefinition.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddTimeEventBehaviorDefinition"
	      disabledIcon="resources/icons/TimeEventBehaviorDefinition_disabled.gif"
	      icon="resources/icons/TimeEventBehaviorDefinition.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddTaskBehavior"
	      disabledIcon="resources/icons/TaskBehavior_disabled.gif"
	      icon="resources/icons/TaskBehavior.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddBehaviorParameter"
	      disabledIcon="resources/icons/BehaviorParameter_disabled.gif"
	      icon="resources/icons/BehaviorParameter.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddChannelBehavior"
	      disabledIcon="resources/icons/ChannelBehavior_disabled.gif"
	      icon="resources/icons/ChannelBehavior.gif">
	</image>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	<handler
		class="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.handler.AddBehavioralParameterDefinitionHandler"
		commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddBehavioralParameterDefinition">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.handler.AddChannelBehaviorDefinitionHandler"
		commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddChannelBehaviorDefinition">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.handler.AddBehaviorDefintionStorageHandler"
		commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddBehaviorDefintionStorage">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.handler.AddBehaviorDefinitionHandler"
		commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddBehaviorDefinition">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.handler.AddTimeEventBehaviorDefinitionHandler"
		commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddTimeEventBehaviorDefinition">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.handler.AddTaskBehaviorHandler"
		commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddTaskBehavior">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.handler.AddBehaviorParameterHandler"
		commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddBehaviorParameter">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.handler.AddChannelBehaviorHandler"
		commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddChannelBehavior">
	</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
		     allPopups="false"
		     locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=concepts">
		     <menu
		        id="de.dlr.sc.virsat.model.ext.tml.behavioral.menu" 
		        label="Tasking Behavior"
		        icon="resources/icons/de.dlr.sc.virsat.model.ext.tml.behavioral.gif"
		        tooltip="Example Concept for Interface Architecture">
		        <separator
		            name="categories"
		            visible="true">
			    </separator>
		        <separator
			        name="structuralElements"
		            visible="true">
			    </separator>
		        <separator
			        name="tools"
		            visible="true">
			    </separator>
		        <separator
		        	name="additions"
		            visible="true">
		    	</separator>
		    	<visibleWhen
					checkEnabled="true">
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<test 
								property="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>		
						</iterate>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.ext.tml.behavioral.menu?after=categories">
		<command
			commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddBehavioralParameterDefinition"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddChannelBehaviorDefinition"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddBehaviorDefintionStorage"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddBehaviorDefinition"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddTimeEventBehaviorDefinition"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddTaskBehavior"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddBehaviorParameter"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddChannelBehavior"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.ext.tml.behavioral.menu?after=structuralElements">
		</menuContribution>
	</extension>
	<extension
	       point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
	    <editorSection
	          id="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
	          topRanking="1000">
	    </editorSection>
	 </extension>	
	<extension point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.table.uiSnippetBehavioralParameterDefinition"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetTableBehavioralParameterDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.section.uiSnippetBehavioralParameterDefinition"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetSectionBehavioralParameterDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.table.uiSnippetChannelBehaviorDefinition"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetTableChannelBehaviorDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.section.uiSnippetChannelBehaviorDefinition"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetSectionChannelBehaviorDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.table.uiSnippetChannelBehaviorDefinitionParametersBehavioralParameterDefinition"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetTableChannelBehaviorDefinitionParametersBehavioralParameterDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.table.uiSnippetBehaviorDefintionStorage"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetTableBehaviorDefintionStorage">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.section.uiSnippetBehaviorDefintionStorage"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetSectionBehaviorDefintionStorage">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.table.uiSnippetBehaviorDefintionStorageChannelBehaviorDefintionsChannelBehaviorDefinition"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetTableBehaviorDefintionStorageChannelBehaviorDefintionsChannelBehaviorDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.table.uiSnippetBehaviorDefinition"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetTableBehaviorDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.section.uiSnippetBehaviorDefinition"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetSectionBehaviorDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.table.uiSnippetBehaviorDefinitionParametersBehavioralParameterDefinition"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetTableBehaviorDefinitionParametersBehavioralParameterDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.table.uiSnippetTimeEventBehaviorDefinition"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetTableTimeEventBehaviorDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.section.uiSnippetTimeEventBehaviorDefinition"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetSectionTimeEventBehaviorDefinition">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.table.uiSnippetTaskBehavior"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetTableTaskBehavior">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.section.uiSnippetTaskBehavior"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetSectionTaskBehavior">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.table.uiSnippetBehaviorParameter"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetTableBehaviorParameter">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.section.uiSnippetBehaviorParameter"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetSectionBehaviorParameter">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.table.uiSnippetChannelBehavior"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetTableChannelBehavior">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.section.uiSnippetChannelBehavior"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetSectionChannelBehavior">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.behavioral.table.uiSnippetChannelBehaviorParameterInstancesBehaviorParameter"
		      section="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.snippet.UiSnippetTableChannelBehaviorParameterInstancesBehaviorParameter">
		</uiSnippet>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
<extension point="org.eclipse.ui.menus">
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.ext.tml.structural.menu?after=categories">
		<command
			commandId="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.command.AddChannelBehaviorDefinition"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.tml.structural.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.ext.tml.structural.menu?after=categories">
		<command
			commandId="de.dlr.sc.virsat.model.ext.tml.structural.ui.command.EditChannelBehavior"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.tml.structural.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command
			id="de.dlr.sc.virsat.model.ext.tml.structural.ui.command.EditChannelBehavior"
			name="Edit ChannelBehaviorDefinition">
		</command>

	</extension>
	<extension point="org.eclipse.ui.commandImages">
		<image
		      commandId="de.dlr.sc.virsat.model.ext.tml.structural.ui.command.EditChannelBehavior"
		      disabledIcon="resources/icons/ChannelBehaviorDefinition_disabled.gif"
		      icon="resources/icons/ChannelBehaviorDefinition.gif">
		</image>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="de.dlr.sc.virsat.model.ext.tml.behavioral.ui.handler.EditChannelBehaviorDefinitionHandler"
			commandId="de.dlr.sc.virsat.model.ext.tml.structural.ui.command.EditChannelBehavior">
		</handler>
	</extension>
	<!-- Plugin.XML Protected Region End -->
</plugin>
