<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.expressions.propertyTesters">
	 <propertyTester
	    id="de.dlr.sc.virsat.model.ext.tml.configuration.ui.propertyTester.conceptEnabledTester"
	    type="org.eclipse.emf.ecore.EObject"
	    namespace="de.dlr.sc.virsat.model.ext.tml.configuration.ui.propertyTester"
	    properties="conceptEnabled"
	    class="de.dlr.sc.virsat.model.ext.tml.configuration.propertyTester.ConceptEnabledTester">
	  </propertyTester>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptImageContribution">
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.ext.tml.configuration"
		pathToImage="resources/icons/de.dlr.sc.virsat.model.ext.tml.configuration.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.ext.tml.configuration.TMLConfiguration"
		pathToImage="resources/icons/TMLConfiguration.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.ext.tml.configuration.GenerationConfiguration"
		pathToImage="resources/icons/GenerationConfiguration.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.ext.tml.configuration.ElementConfiguration"
		pathToImage="resources/icons/ElementConfiguration.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.ext.tml.configuration.TaskingEnvironmentConfiguration"
		pathToImage="resources/icons/TaskingEnvironmentConfiguration.gif">
	</conceptImage>
	</extension>
	<extension point="org.eclipse.ui.commands">
	<command
		id="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.AddTMLConfiguration"
		name="Add TMLConfiguration">
	</command>
	<command
		id="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.AddGenerationConfiguration"
		name="Add GenerationConfiguration">
	</command>
	<command
		id="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.AddElementConfiguration"
		name="Add ElementConfiguration">
	</command>
	<command
		id="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.AddTaskingEnvironmentConfiguration"
		name="Add TaskingEnvironmentConfiguration">
	</command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
	<image
	      commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.AddTMLConfiguration"
	      disabledIcon="resources/icons/TMLConfiguration_disabled.gif"
	      icon="resources/icons/TMLConfiguration.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.AddGenerationConfiguration"
	      disabledIcon="resources/icons/GenerationConfiguration_disabled.gif"
	      icon="resources/icons/GenerationConfiguration.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.AddElementConfiguration"
	      disabledIcon="resources/icons/ElementConfiguration_disabled.gif"
	      icon="resources/icons/ElementConfiguration.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.AddTaskingEnvironmentConfiguration"
	      disabledIcon="resources/icons/TaskingEnvironmentConfiguration_disabled.gif"
	      icon="resources/icons/TaskingEnvironmentConfiguration.gif">
	</image>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	<handler
		class="de.dlr.sc.virsat.model.ext.tml.configuration.ui.handler.AddTMLConfigurationHandler"
		commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.AddTMLConfiguration">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.ext.tml.configuration.ui.handler.AddGenerationConfigurationHandler"
		commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.AddGenerationConfiguration">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.ext.tml.configuration.ui.handler.AddElementConfigurationHandler"
		commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.AddElementConfiguration">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.ext.tml.configuration.ui.handler.AddTaskingEnvironmentConfigurationHandler"
		commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.AddTaskingEnvironmentConfiguration">
	</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
		     allPopups="false"
		     locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=concepts">
		     <menu
		        id="de.dlr.sc.virsat.model.ext.tml.configuration.menu" 
		        label="Tasking Configuration"
		        icon="resources/icons/de.dlr.sc.virsat.model.ext.tml.configuration.gif"
		        tooltip="Example Concept for Interface Architecture">
		        <separator
		            name="categories"
		            visible="true">
			    </separator>
		        <separator
			        name="structuralElements"
		            visible="true">
			    </separator>
		        <separator
			        name="tools"
		            visible="true">
			    </separator>
		        <separator
		        	name="additions"
		            visible="true">
		    	</separator>
		    	<visibleWhen
					checkEnabled="true">
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<test 
								property="de.dlr.sc.virsat.model.ext.tml.configuration.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>		
						</iterate>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.ext.tml.configuration.menu?after=categories">
		<command
			commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.AddTMLConfiguration"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.tml.configuration.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.AddGenerationConfiguration"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.tml.configuration.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.AddElementConfiguration"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.tml.configuration.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.AddTaskingEnvironmentConfiguration"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.tml.configuration.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.ext.tml.configuration.menu?after=structuralElements">
		</menuContribution>
	</extension>
	<extension
	       point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
	    <editorSection
	          id="de.dlr.sc.virsat.model.ext.tml.configuration.ui.Section"
	          topRanking="1000">
	    </editorSection>
	 </extension>	
	<extension point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.configuration.table.uiSnippetTMLConfiguration"
		      section="de.dlr.sc.virsat.model.ext.tml.configuration.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.configuration.ui.snippet.UiSnippetTableTMLConfiguration">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.configuration.section.uiSnippetTMLConfiguration"
		      section="de.dlr.sc.virsat.model.ext.tml.configuration.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.configuration.ui.snippet.UiSnippetSectionTMLConfiguration">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.configuration.table.uiSnippetGenerationConfiguration"
		      section="de.dlr.sc.virsat.model.ext.tml.configuration.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.configuration.ui.snippet.UiSnippetTableGenerationConfiguration">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.configuration.section.uiSnippetGenerationConfiguration"
		      section="de.dlr.sc.virsat.model.ext.tml.configuration.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.configuration.ui.snippet.UiSnippetSectionGenerationConfiguration">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.configuration.table.uiSnippetElementConfiguration"
		      section="de.dlr.sc.virsat.model.ext.tml.configuration.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.configuration.ui.snippet.UiSnippetTableElementConfiguration">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.configuration.section.uiSnippetElementConfiguration"
		      section="de.dlr.sc.virsat.model.ext.tml.configuration.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.configuration.ui.snippet.UiSnippetSectionElementConfiguration">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.configuration.table.uiSnippetTaskingEnvironmentConfiguration"
		      section="de.dlr.sc.virsat.model.ext.tml.configuration.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.configuration.ui.snippet.UiSnippetTableTaskingEnvironmentConfiguration">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.ext.tml.configuration.section.uiSnippetTaskingEnvironmentConfiguration"
		      section="de.dlr.sc.virsat.model.ext.tml.configuration.ui.Section"
		      snippet="de.dlr.sc.virsat.model.ext.tml.configuration.ui.snippet.UiSnippetSectionTaskingEnvironmentConfiguration">
		</uiSnippet>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
<extension point="org.eclipse.ui.menus">
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=group.edit">
		<command
			commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.Refresh"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.tml.structural.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.GenerateCode"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.tml.structural.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
	</extension>
	
	<extension point="org.eclipse.ui.menus">
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=group.open">
		<command
			commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.OpenTreeEditor"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.ext.tml.structural.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		<command
			id="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.GenerateCode"
			name="Generate Source Code">
		</command>
		<command
            id="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.Refresh"
            name="Refresh Generator Configuration">
      	</command>
      	<command
            id="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.OpenTreeEditor"
            name="Open Tree Editor">
      	</command>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="de.dlr.sc.virsat.model.ext.tml.configuration.ui.handler.GenerateCodeHandler"
			commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.GenerateCode">
		</handler>
   		<handler
         class="de.dlr.sc.virsat.model.ext.tml.configuration.ui.handler.RefreshModelHandler"
         commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.Refresh">
   		</handler>
   		<handler
         class="de.dlr.sc.virsat.model.ext.tml.configuration.ui.handler.TreeEditorHandler"
         commandId="de.dlr.sc.virsat.model.ext.tml.configuration.ui.command.OpenTreeEditor">
   		</handler>
	</extension>
	<!-- Plugin.XML Protected Region End -->
</plugin>
